.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px
}

.logo {
    width : 100px;
}

.card {
    width : 200px;
    border: 1px solid lightgrey;
    margin: 10px;
    padding: 10px;
    color: black;
    height: 350px;
}


.card > img {
    width : 100%;
}

.restaraunt-list {
    display: flex;
    flex-wrap: wrap;
}


.search-container {
    text-align: center;
}

.search-button {
    background-color : lightgreen;
}

.shimmer-card {
    width : 200px;
    height: 290px;
    border: 1px solid lightgrey;
    margin: 10px;
    padding: 12px;
}

.shimmer-image {
    width : 100%;
    background-color: lightgrey;
    height : 100px;
    margin-bottom: 12px;
}

.shimmer-h2 {
    width : 100%;
    background-color: lightgrey;
    height : 50px;
    margin-bottom: 12px;
}

.shimmer-h3 {
    width : 100%;
    background-color: lightgrey;
    height : 70px;
    margin-bottom: 12px;
}

.shimmer-h4 {
    width : 100%;
    background-color: lightgrey;
    height : 35px;
    margin-bottom: 12px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}